<!DOCTYPE html>
{% extends "index.html" -%}
{% block content -%}
<div>Users page</div>
<form method="post">
    Add skill: <input type="text" name="skillName">
    Add description: <input type="text" name="skillDescription">
    <input type="submit" value="Submit">
</form>
{% for m in activeSkills.models %}
    <a href="skills/{{ m.data.skillId }}">{{ m.data.skillName }}</a>
{% endfor %}
<div>
    {% if newUser: %}
        <div>
            skill id: {{newSkill.data.skillId}}
        </div>
        <div>
            skill name: {{newSkill.data.skillName}}
        </div>
        <div>
            skill description: {{newSkill.data.skillDescription}}
        </div>
    {% endif %}
</div>
{%- endblock content %}