<!DOCTYPE html>
{% extends "index.html" -%}
{% block content -%}
<div>Users page</div>
<form method="post">
    Add user: <input type="text" name="fullName">
    <input type="submit" value="Submit">
</form>
<form>
    <select name="userId">
        {% for i in activeUsers %}
            <option value="{{ i.data.userId }}">{{ i.data.userFullName }}</option>
        {% endfor %}
    </select>
</form>
<div>
    <div>
        user id: {{userId}}
    </div>
    <div>
        user name: {{userName}}
    </div>
    <div>
        user full name: {{userFullName}}
    </div>
</div>
{%- endblock content %}