<!DOCTYPE html>
{% extends "index.html" -%}
{% block content -%}
<div>Users page</div>
<form method="post">
    Add user: <input type="text" name="fullName">
    <input type="submit" value="Submit">
</form>
{% for m in activeUsers.models %}
    <a href="users/{{ m.data.userId }}">{{ m.data.userFullName }}</a>
{% endfor %}
<div>
    {% if newUser: %}
        <div>
            user id: {{newUser.data.userId}}
        </div>
        <div>
            user name: {{newUser.data.userName}}
        </div>
        <div>
            user full name: {{newUser.data.userFullName}}
        </div>
    {% endif %}
</div>
{%- endblock content %}